---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { footerData } from '~/navigation';

// import type { MetaData } from '~/types';

// export interface Props {
//   metadata?: MetaData;
//   navigation?: object;
// }

const { currentPath, homeLink, metadata, site } = Astro.props;
const header = site?.header;
---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header
      currentPath={currentPath}
      homeLink={homeLink}
      position={header?.navigation?.position}
      links={header?.navigation?.links}
      actions={header?.navigation?.ctas}
      isSticky={header?.isSticky}
      showToggleTheme={header?.showToggleTheme}
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData()} />
  </slot>
</Layout>
