---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/FooterMin.astro';
import Announcement from '~/components/widgets/Announcement.astro';

const { currentPath, homeLink, metadata, site, languageSwitcherData } = Astro.props;
const header = site?.header;
const footer = site?.footer;

---

<Layout metadata={metadata}>
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header
      languageSwitcherData={languageSwitcherData}
      currentPath={currentPath}
      homeLink={homeLink}
      position={header?.navigation?.position}
      links={header?.navigation?.links}
      actions={header?.navigation?.ctas}
      isSticky={header?.isSticky}
      showToggleTheme={header?.showToggleTheme}
    />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footer} classes={{ container: 'bg-[var(--aw-color-bg-alt)]' }} />
  </slot>
</Layout>
